/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    scroll-behavior: smooth;
}

body {
    margin: 0%;
    padding: 0%;
    font-family: "Montserrat", "san-serif";
}

/* .space-grotesk-regular {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
} */

/* .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
} */

.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.arrow {
    position: fixed;
    display: block;
    display: flex;
    right: 1.5rem;
    bottom: 1.5rem;
}

.vlnka {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

header {
    background-image: url(resources/pictures/blurry7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.center2 {
    text-align: center;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    margin-right: 10px;
    font-size: 16px;
    position: relative;
    top: 0;
    transition: ease-in-out 0.2s;
    font-weight: 500;
}

.menu a:hover {
    color: #343f52;
    top: -3px;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.hero_text>h1 {
    color: #ffffff;
    text-shadow: 0 .25rem 1.75rem rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 300%;
    text-align: center;
    margin-top: 15%;
}

.hero_text>p {
    color: #60697b;
    font-weight: 600;
    margin-right: 50px;
    margin-left: 50px;
    text-align: center;
    /* justify-content: flex-start; */
    /* align-items: center; */
    font-size: 15px;
}

.hero_text>a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #EAC9DC;
    padding: 1rem 2rem;
    text-align: center;
    display: inline-block;
    border-radius: 100px;
    font-size: 17px;
    margin-top: 0px;
    position: relative;
    top: 0;
    transition: ease-in-out 0.2s;
    box-shadow: 0 .25rem 1.75rem #EAC9DC;
    margin-top: 2%;
}

.hero_text>a:hover {
    /* background-color: #ffffff; */
    /* color: rgb(0, 0, 0); */
    top: -3px;
    background-color: #343f52;
    box-shadow: 0 .25rem 1.75rem #343f5275;
}

.hero_predmet>h1 {
    color: white;
    text-shadow: 0 .25rem 1.75rem rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 900%;
    margin-top: 1;
    margin-bottom: -1%;
}

@media (max-width: 1124px) {
    .hero_predmet>h1 {
        margin-top: 0;
        margin-bottom: -1%;
    }
}

.title1,
.future {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.title1_text>p {
    color: #AAB0BC;
}

.title1_text>h1 {
    font-size: 250%;
    color: #343f52;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 6%;
}

@keyframes slidy {
    0% {
        left: 0%;
    }

    20% {
        left: 0%;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}

div#slider {
    overflow: hidden;
    /* margin: 30%; */
    margin-left: 20%;
    margin-right: 20%;
}

div#slider figure img {
    width: 20%;
    float: left;
}

div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite;
}

.title2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 7%;
}

.title2_text>p {
    color: #AAB0BC;
}

.title2_text>h1 {
    font-size: 250%;
    color: #343f52;
    margin-left: 20%;
    margin-right: 20%;
}

.vlnka2 {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
}

.box_pozadie {
    background-image: url(resources/pictures/blurry7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box_kontajner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.box {
    flex: 1;
    margin: 100px;
    padding: 40px;
    border-radius: 30px;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    box-shadow: 0 .25rem 1.75rem rgb(255, 255, 255);
    background-color: white;
    display: grid;
    /* justify-items: center; */
    align-items: center;
    /* text-align: center; */
    /* align-content: center; */
    grid-template-columns: auto auto;
}

.slider_bx {
    overflow: hidden;
    margin-left: 10%;
    margin-right: auto;
    /* margin-right: 20%; */
    width: 80%;
}

.slider_bx figure img {
    width: 20%;
    float: left;
}

.slider_bx figure {
    position: relative;
    width: 500%;
    margin: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite;
}

@media(max-width:1124px) {
    .box {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    .slider_bx {
        margin-left: 0%;
        margin-right: 0%;
        width: 100%;
        margin-top: 5%;
    }
}

.text_bx>h2 {
    color: #343f52;
    font-size: 30px;
    margin-left: 5%;
    margin-right: 5%;

}

.text_bx>p {
    color: #343f52;
    font-size: 16px;
    font-weight: 600;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
}

.minitext_bx {
    display: grid;
    justify-items: center;
    text-align: center;
    grid-template-areas:
        "box1 box2"
        "bx_text1 bx_text2";
    margin-top: 5%;
}

@media (max-width: 1124px) {
    .minitext_bx {grid-template-areas: 
        "box1"
        "bx_text1"
        "box2"
        "bx_text2";
    }
}

.minitext_bx>figcaption {
    font-size: 16px;
    font-weight: 600;
    color: #343f52;
    margin-left: 15%;
    margin-right: 15%;
}

.bx1 {
    grid-area: box1;
}

.bx2 {
    grid-area: box2;
}

.bx1>p {
    grid-area: bx_text1;
}

.bx2>p {
    grid-area: bx_text2;
}

.text_bx>a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #EAC9DC;
    padding: 0.8rem 1.6rem;
    text-align: center;
    display: inline-block;
    border-radius: 100px;
    font-size: 15px;
    position: relative;
    top: 0;
    transition: ease-in-out 0.2s;
    box-shadow: 0 .25rem 1.75rem rgba(30, 34, 40, .07);
}

.text_bx>a:hover {
    background-color: #343f52;
    /* color: rgb(255, 255, 255); */
    top: -3px;
    box-shadow: 0 .25rem 1.75rem #343f5275;
}



.future {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2%;
}

.future_text>p {
    color: #AAB0BC;
}

.future_text>h1 {
    font-size: 250%;
    color: #343f52;
    margin-left: 20%;
    margin-right: 20%;
}

.grid_future {
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    grid-template-areas:
        "obrazok1 obrazok2 obrazok3"
        "text1 text2 text3"
        "obrazok4 obrazok5 obrazok6"
        "text4 text5 text6";
}

.grid_future>figcaption {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

.obr1 {
    grid-area: obrazok1;
}

.obr1>p {
    grid-area: text1;
}

.obr2 {
    grid-area: obrazok2;
}

.obr2>p {
    grid-area: text2;
}

.obr3 {
    grid-area: obrazok3;
}

.obr3>p {
    grid-area: text3;
}

.obr4 {
    grid-area: obrazok4;
}

.obr4>p {
    grid-area: text4;
}

.obr5 {
    grid-area: obrazok5;
}

.obr5>p {
    grid-area: text5;
}

.obr6 {
    grid-area: obrazok6;
}

.obr6>p {
    grid-area: text6;
}

@media (max-width: 900px) {
    .grid_future {
        grid-template-areas:
            "obrazok1"
            "text1"
            "obrazok2"
            "text2"
            "obrazok3"
            "text3"
            "obrazok4"
            "text4"
            "obrazok5"
            "text5"
            "obrazok6"
            "text6"
    }

    nav {
        justify-content: center;
        flex-direction: column;
    }
}